@import "tailwindcss";
@plugin "daisyui";

@layer base {
    body {
        font-family: var(--font-roboto);
        color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-oswald);
        font-weight: bold;
        text-transform: uppercase;
    }

    h1 {
        color: var(--color-white);
        font-size: var(--text-6xl);
        line-height: var(--text-6xl--line-height);
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: 128px;
        }
    }

    .active {
        color: var(--color-accent-100);
    }


    .container {
        padding: var(--container-padding);
        margin: 0 auto;
    }

    .bg-hero {
        background-image: var(--background-image-hero);
    }

    .bg-membership {
        background-image: var(--background-image-membership);
    }

    .bg-login {
        background-image: var(--background-image-login);
    }

    .bg-signup {
        background-image: var(--background-image-signup);
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: var(--color-accent-100) !important;
    }
}

@theme {
    /* --*: initial; */
    --container-*: initial;
    --container-padding: 15px;
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1400px;
    --font-roboto: var(--font-roboto);
    --font-oswald: var(--font-oswald);
    --color-white: #fff;
    --color-primary: #333;
    --color-primary-100: #484848;
    --color-primary-200: #151515;
    --color-primary-300: #111;
    --color-accent-100: #d4000d;
    /* --spacing-widest: -3px; */
    --background-image-hero: url(/assets/img/hero/bg.jpg);
    --background-image-membership: url(/assets/img/membership/bg.jpg);
    --background-image-login: url(/assets/img/login/bg.jpg);
    --background-image-signup: url(/assets/img/signup/bg.jpg);
}